generatorOptions:
  disableNameSuffixHash: true
secretGenerator:
  - name: backend-secrets
    namespace: stackjudge-master
    literals:
      - SERVER_PORT=41000
      - SERVER_ENV=LOCAL_VAGRANT
      - HEALTH_CHECK_ENV_VAR_TEST="env var test"
      - HTTP_CORS_ORIGINS=http://localhost:4200
      - SJ_IDS_FULL_HOST="http://identity-service-app:41050"
      #      - AWS_S3_CDN_BUCKET=stackjudge-cdn-dev-eu-central-1
      #      - AWS_ACCESS_KEY=
      #      - AWS_SECRET_KEY=
      #      - FACEBOOK_CLIENT_ID=
      #      - FACEBOOK_CLIENT_SECRET=
      #      - FACEBOOK_CALLBACK_URL="https://192.168.33.10/account/facebook-callbackd"
      #      - AUTH_JWT_SECRET=
      #      - SITE_DOMAIN=https://192.168.33.10
      #      - SERVER_SSL_ENABLED=True
      #      - SITE_FRONTEND_DOMAIN=http://localhost:4200
      - SPRING_REDIS_HOST=backend-redis-service
      - SPRING_REDIS_PASSWORD=""
      - SPRING_REDIS_PORT=41060
  #      - GOOGLE_MAPS_KEY=asd
  #      - REDIS_ASPECT_CACHE_ENABLED=False
  #      - SERVER_SSL_KEY_STORE=classpath:keystore/v2/sjdev.p12
  #      - SERVER_SSL_KEY_STORE_PASSWORD=password
  - name: ids-secrets
    namespace: stackjudge-master
    literals:
      - PSQL_CONNECTION_STRING="Host=identity-service-postgres-service;Database=stackjudge;Port=5432;Username=admin;Password=admin_pass;"
      - ASPNETCORE_URLS=http://localhost:80
      - LOGGING__LOGLEVEL__MICROSOFT=Information
  - name: insecure-psql-secrets
    namespace: stackjudge-master
    literals:
      - PSQL_CONNECTION_STRING=jdbc:postgresql://backend-psql-service:41030/stackjudge
      - PSQL_USER=admin
      - PSQL_PASSWORD=admin_pass
